*.user
*.suo
*.sln.docstates
*.userosscache
*.sln.OPENEDFILES

**/[Bb]in/
**/[Oo]bj/

**/[Bb]in
**/[Oo]bj

**/[Pp]ackages/
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

Generated_Code/

**/[Pp]ublish/
**/[Pp]ub/
*.pubxml
*.pubxml.user

*.testsettings
TestResults/

.vs/
.vscode/

Thumbs.db
ehthumbs.db

*.sln.ide
.idea/